#
# LIGHT Sensor Configuration
#

config LIGHT
	bool "LIGHT Sensors"
	default y
	help
	  This option enables sensors

config OPTICAL_GP2A
	depends on I2C && GENERIC_GPIO
	tristate "GP2A ambient light and proximity input device"
	default n
	help
	  This option enables proximity & light sensors using gp2a driver.
	  