config SGX540
	tristate "PowerVR SGX"
	depends on ARCH_OMAP4
	---help---
	  Support for the PowerVR SGX 3D core.

config SGX530
	tristate "PowerVR SGX"
	depends on ARCH_OMAP3
	---help---
	  Support for the PowerVR SGX 3D core.

choice
	prompt "SGX revision"
	depends on SGX530
	default SGX_REV125

config SGX_REV121
       bool "Revision 1.2.1 - Omap 3430"

config SGX_REV125
	bool "Revision 1.2.5 - Omap 3630"

endchoice

choice
	prompt "SGX revision"
	depends on SGX540
	default SGX_REV110

config SGX_REV110
       bool "Revision 1.1.0 - Omap 4430 ES1"

endchoice

choice
	prompt "PowerVR build type"
	depends on SGX540 || SGX530
	default SGX_BUILD_RELEASE

config SGX_BUILD_RELEASE
       bool "RELEASE"

config SGX_BUILD_DEBUG
       bool "DEBUG"

endchoice
